# Copy this file to .env.development and .env.production and fill in your values

# For local development
VITE_API_URL=http://localhost:3001

# For production deployment
# VITE_API_URL=https://nextjob-cnah.onrender.com
